.contact-info-menu {
  background-color: #016ba7;
  padding: 30px 40px;

  &__menu-item {
    padding-left: 15px;
    padding-right: 15px;
  }

  i {
    color: $white;
    padding-right: 7px;
  }

  a {
    font-size: 14px;
    color: $white;
    font-weight: 400;
    &:hover {
      color: $color-icon-light;
      text-decoration: none;
    }
  }
}
