/*---Section Contact--*/
.contact {
  padding: 100px 0;
  background-color: #f5f5f5;

  &-form {
    padding: 0 80px;
    &__div-padding {
      padding: 5px 15px;
    }
  }

  &-i {
    font-size: 6px;
    color: red;
    padding-top: 3px;
    padding-right: 3px;
  }

  &-info {
    font-size: 14px;
  }

  &-label {
    padding-left: 10px;
  }

  .form-control {
    padding-left: 20px;
    height: 45px;
    border: 1px solid #ececec;

    &-more {
      resize: none;
      height: 110px;
    }
  }
  input::placeholder {
    color: #acacac;
    font-style: italic;
  }

  .btn {
    width: 100%;
    margin-bottom: 25px;
  }

  h2 {
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
  }

  p {
    margin-bottom: 0;
  }

  form {
    padding-top: 50px;
  }

  .label-i {
    font-size: 6px;
    color: red;
    position: absolute;
    top: 5px;
  }

  .maximum-comment {
    position: absolute;
    bottom: 20px;
    right: 35px;
    font-size: 14px;
    color: $primary-color;
    strong {
      font-weight: 400;
      color: green;
    }
  }
}
