.footer-main {
  background-color: #1c1d1f;
  padding: 60px;
  padding-left: 90px;

  &__column {
    padding-bottom: 15px;
  }

  a {
    color: $color-footer-links;
    padding-bottom: 12px;
    font-size: 14px;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  li {
    list-style-type: none;
    padding-bottom: 10px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}
