/*---Header--*/
header {
  background-color: $color-top-header;
  .menu {
    padding: 20px 40px;

    .header-menu__item {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;

      i {
        color: $primary-color;
        padding-right: 7px;
      }

      a {
        font-size: 12px;
        color: $color-icon-light;
        font-weight: 400;
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
      &-btn {
        padding: 5px 5px;
        .btn {
          width: 105px;
          color: $color-icon-light;
          font-size: smaller;
        }
      }
    }
  }
}
