$primary-color: #78797b;
$light-blue-color: #0f6da9;
$color-top-header: #2f3133;
$footer-color: #141414;
$color-icon-light: #d3d3d3;
$color-background-white: #fff;
$white: #fff;
$color-text-default: #666;
$color-header-default: #4a4a4c;
$color-footer-links: #959595;
$color-contact-placeholder: #acacac;
